@import "../../../styles/mixins";
@import "../../../styles/colors";
@import "../../../styles/fonts";

.stepper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 646px;
  height: 56px;
  left: 76px;
  top: 103px;

  .first {
    position: static;
    height: 56px;
    left: 0px;
    right: 436px;
    width: 225.39px;
    top: calc(50% - 56px / 2);
    background: #6fcf97;
    box-shadow: 0px 1px 2px rgba(55, 65, 81, 0.08);
    border-radius: 4px;

    &::after {
      content: "";
      position: absolute;
      width: 0px;
      right: 367px;
      top: 0px;
      bottom: 0px;
      border-width: 28px;
      border-style: solid;
      border-color: transparent transparent transparent red;
    }
  }

  .second {
    position: static;
    height: 56px;
    left: 218px;
    right: 218px;
    width: 210px;
    top: calc(50% - 56px / 2);
    background: $color-primary;
  }

  .third {
    position: static;
    height: 56px;
    left: 436px;
    right: 0px;
    width: 210px;
    top: calc(50% - 56px / 2);
    background: $color-primary;
  }
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
