@import "../../../styles/mixins";
@import "../../../styles/colors";
@import "../../../styles/fonts";

.login {
  @include flex(column, center, center);
  height: 450px;
  border: 2px solid $color-primary;
  overflow: hidden;
  width: 550px;
  background-color: $color-grey-soft;

  img {
    width: 200px;
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 10px;
  }
  .form {
    @include flex(column, center, center);

    .mat-form-field {
      width: 300px;

      button {
        color: $color-primary-hard;
        margin-right: 10px;
      }
    }

    a {
      cursor: pointer;
      color: $color-primary-hard;
    }
  }
}
