@import "../../../styles/mixins";
@import "../../../styles/colors";
@import "../../../styles/fonts";

main {
  @include flex(column, center, center);
  width: 100vw;
  padding: 0 100px;
  margin: 20px 0;
  font-family: $font-primary;

  h3 {
    font-family: $font-primary;
    font-weight: bold;
  }

  .bookings__container {
    @include flex(row, flex-start, flex-start);
    background-color: $color-grey-soft;
    border-radius: 6px;
    border: 2px solid $color-primary;
    width: 800px;
    align-items: stretch;

    h4 {
      border-bottom: 1px solid $color-primary;
      width: 100%;
      text-indent: 20px;
    }

    .hours {
      @include flex(column, flex-start, center);
      width: 150px;
      border-right: 1px solid $color-primary;

      span {
        cursor: pointer;
        @include flex(row, center, center);
        background-color: $color-primary-soft;
        width: 130px;
        border-radius: 6px;
        margin-bottom: 10px;

        p {
          margin-left: 10px;
        }
      }
    }
    .bookings {
      @include flex(column, flex-start, center);
      width: 150px;
      border-right: 1px solid $color-primary;

      span {
        cursor: pointer;
        @include flex(row, flex-start, center);
        background-color: $color-primary-soft;
        width: 130px;
        border-radius: 6px;
        margin-bottom: 10px;
        text-indent: 10px;

        p {
          margin-left: 10px;
        }
      }
    }
    .detail {
      @include flex(column, flex-start, flex-start);
      width: 500px;

      .booking-data {
        @include flex(column, flex-start, flex-start);
        margin-left: 10px;
        background-color: $color-primary-soft;
        width: 470px;
        border-radius: 6px;
        margin-bottom: 10px;

        p {
          margin: 5px;
        }

        .menu-details {
          @include flex(row, flex-start, flex-start);
        }
      }
    }
  }
}
