@import "../../../styles/mixins";
@import "../../../styles/colors";
@import "../../../styles/fonts";

main {
  h3 {
    font-family: $font-primary;
    font-weight: bold;
  }
  width: 100vw;
  padding: 0 100px;
  margin: 20px 0;
  font-family: $font-primary;
  height: 500px;
  @include flex(column, center, center);

  .bookings__container {
    @include flex(row, flex-start, center);
    background-color: $color-grey-soft;
    border-radius: 6px;
    border: 2px solid $color-primary;
    width: 800px;

    h4 {
      border-bottom: 1px solid $color-primary;
      width: 100%;
      text-indent: 20px;
    }

    .hours {
      @include flex(column, flex-start, center);
      height: 100%;
      width: 150px;
      border-right: 1px solid $color-primary;

      span {
        cursor: pointer;
        @include flex(row, center, center);
        background-color: $color-primary-soft;
        width: 130px;
        border-radius: 6px;
        margin-bottom: 10px;

        p {
          margin-left: 10px;
        }
      }
    }
    .bookings {
      @include flex(column, flex-start, center);
      height: 100%;
      width: 150px;
      border-right: 1px solid $color-primary;

      span {
        cursor: pointer;
        @include flex(row, center, center);
        background-color: $color-primary-soft;
        width: 130px;
        border-radius: 6px;
        margin-bottom: 10px;

        p {
          margin-left: 10px;
        }
      }
    }
    .detail {
      @include flex(column, flex-start, flex-start);
      height: 100%;
      width: 500px;

      p {
        cursor: pointer;
        @include flex(row, center, center);
        background-color: $color-primary-soft;
        width: 130px;
        border-radius: 6px;
        margin-bottom: 10px;
      }

      div {
        margin-left: 10px;
      }
    }
  }
}
