<main>
  <mat-form-field appearance="fill" class="date">
    <mat-label>Elige una fecha</mat-label>
    <input [formControl]="datepicker" matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <h3>{{ datepicker.value }}</h3>
  <section class="bookings__container">
    <div class="hours">
      <h4>Horas</h4>
      <span
        >12:00
        <p>56/100</p></span
      >
      <span
        >12:30
        <p>56/100</p></span
      >
      <span
        >13:00
        <p>56/100</p></span
      >
      <span
        >13:30
        <p>56/100</p></span
      >
      <span
        >14:00
        <p>56/100</p></span
      >
      <span
        >14:30
        <p>56/100</p></span
      >
      <span
        >15:00
        <p>56/100</p></span
      >
      <span
        >15:30
        <p>56/100</p></span
      >
      <span
        >16:00
        <p>56/100</p></span
      >
    </div>

    <div class="bookings">
      <h4>Reservas</h4>
      <span
        >4 pax
        <p>Nombre</p></span
      >
    </div>

    <div class="detail">
      <h4>Teléfono de contacto: 666 123 123</h4>

      <div class="booking-data">
        <p>Nombre: Gerard</p>
        <p>Alergias: altramuces, frutos secos</p>
        <div class="menu-details">
          <p>Elecciones:</p>
          <div class="menu-selection">
            <p>Primero</p>
            <p>Segundo</p>
            <p>Tercero</p>
          </div>
        </div>
      </div>
      <div class="booking-data">
        <p>Nombre: Gerard</p>
        <p>Alergias: altramuces, frutos secos</p>
        <div class="menu-details">
          <p>Elecciones:</p>
          <div class="menu-selection">
            <p>Primero</p>
            <p>Segundo</p>
            <p>Tercero</p>
          </div>
        </div>
      </div>
      <div class="booking-data">
        <p>Nombre: Gerard</p>
        <p>Alergias: altramuces, frutos secos</p>
        <div class="menu-details">
          <p>Elecciones:</p>
          <div class="menu-selection">
            <p>Primero</p>
            <p>Segundo</p>
            <p>Tercero</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
