<section class="menus">
  <div class="image-left">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/midday-restaurant.appspot.com/o/MidDay%20images%2Fasiatico-removebg-preview.png?alt=media&token=f2dd612e-5700-4732-a96d-420a9fdaa4a1"
      alt="Platos diversos"
    />
  </div>

  <div class="components">
    <div class="switch">
      <button
        class="add"
        (click)="switch = true"
        mat-button
        type="button"
        color="primary"
      >
        AÑADIR
      </button>
      /
      <button
        class="btn-delete"
        (click)="deleteClass(); switch = false"
        mat-button
        routerLinkActive="mat-stroked-button"
        type="button"
        color="primary"
      >
        BUSCAR
      </button>
    </div>
    <app-menus-add *ngIf="switch"></app-menus-add>
    <app-menus-delete *ngIf="!switch"></app-menus-delete>
  </div>

  <div class="image-right">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/midday-restaurant.appspot.com/o/MidDay%20images%2Fpancakes.png?alt=media&token=2b672fc7-30ca-41b5-bcd5-1df8b0b3b6bf"
      alt="Pancakes"
    />
  </div>
</section>
