@import "../../../styles/mixins";
@import "../../../styles/colors";
@import "../../../styles/fonts";

.menus {
  @include flex(row, center, flex-start);
  width: 100%;
  padding: 0 100px 50px 100px;
  font-family: $font-primary;

  @media only screen and (max-width: 500px) {
    padding: 0 20px;
  }

  .image-left {
    opacity: 0.6;
    width: 20%;

    @media only screen and (max-width: 500px) {
      display: none;
    }

    img {
      position: absolute;
      left: -80px;
      top: 30px;
    }
  }

  .components {
    @include flex(column, center, center);
    width: 60%;
    z-index: 1;
    background-color: $color-white;

    @media only screen and (max-width: 500px) {
      margin-right: 0;
    }

    .switch {
      align-self: flex-start;
      padding-top: 80px;
      color: $color-primary;
      margin: 30px 0px 30px 50px;

      @media only screen and (max-width: 500px) {
        padding: 0 20px;
      }

      button:focus {
        background-color: $color-primary;
        color: $color-white !important;
      }
    }
  }

  .image-right {
    opacity: 0.6;
    width: 20%;

    @media only screen and (max-width: 500px) {
      display: none;
    }

    img {
      position: absolute;
      right: 0px;
      top: 80px;
    }
  }
}
