<section class="menus">
  <div class="image-left">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/midday-restaurant.appspot.com/o/MidDay%20images%2Fasiatico-removebg-preview.png?alt=media&token=f2dd612e-5700-4732-a96d-420a9fdaa4a1"
      alt="Platos diversos"
    />
  </div>

  <div class="components">
    <h4 class="title">CREACIÓN DE MENÚS</h4>
    <form [formGroup]="menu">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label> Primeros platos</mat-label>
        <mat-select formControlName="first" multiple>
          <mat-optgroup
            *ngFor="let group of dishesList"
            [label]="group.category"
            [disabled]="group.disabled"
          >
            <mat-option *ngFor="let dish of group.dish" [value]="dish.name">{{
              dish.name
            }}</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Segundos platos</mat-label>
        <mat-select formControlName="second" multiple>
          <mat-optgroup
            *ngFor="let group of dishesList"
            [label]="group.category"
            [disabled]="group.disabled"
          >
            <mat-option *ngFor="let dish of group.dish" [value]="dish.name">{{
              dish.name
            }}</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Postres</mat-label>
        <mat-select formControlName="dessert" multiple>
          <mat-optgroup
            *ngFor="let group of dishesList"
            [label]="group.category"
            [disabled]="group.disabled"
          >
            <mat-option *ngFor="let dish of group.dish" [value]="dish.name">{{
              dish.name
            }}</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <div class="btns">
        <button mat-raised-button color="primary" (click)="openPopUp()">
          AÑADIR
        </button>
      </div>
    </form>
  </div>

  <div class="image-right">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/midday-restaurant.appspot.com/o/MidDay%20images%2Ffood-5282718_1920-removebg-preview.png?alt=media&token=18839006-f865-4004-af0c-d5873601bc30"
      alt="Plato respostería"
    />
  </div>
</section>
