@import "../../frontend/src/styles/colors";
@import "../../frontend/src/styles/fonts";
@import "~@angular/material/theming";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;

  &:horizontal {
    display: none;
  }
}

*::-webkit-scrollbar-thumb {
  background: $color-primary;
  border-radius: 8px;

  &:hover {
    background: $color-primary-hard;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (max-width: 500px) {
  *::-webkit-scrollbar {
    display: none;
  }
}

@include mat-core();

$MidDay-restaurant-primary: mat-palette($mat-indigo);
$MidDay-restaurant-accent: mat-palette($mat-pink, A200, A100, A400);
$MidDay-restaurant-warn: mat-palette($mat-red);
$MidDay-restaurant-theme: mat-light-theme(
  (
    color: (
      primary: $MidDay-restaurant-primary,
      accent: $MidDay-restaurant-accent,
      warn: $MidDay-restaurant-warn,
    ),
  )
);

@include angular-material-theme($MidDay-restaurant-theme);

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: $color-primary;
}

.mat-raised-button.mat-primary {
  background-color: $color-primary;
}

.mat-stroked-button.mat-primary {
  color: $color-primary;
  border: 1px solid $color-primary;

  &:hover {
    border: 1px solid $color-primary;
  }
}

.mat-input-element {
  caret-color: $color-primary;
  color: $color-primary;
  font: $font-primary;
}

.mat-calendar-body-selected {
  background-color: $color-primary;
}
