<footer>
  <div class="footer">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/midday-restaurant.appspot.com/o/MidDay%20images%2Flogo_negro.png?alt=media&token=4dcb1501-4770-4b7d-b01c-d8528ff85556"
      alt="logo"
    />
    <hr class="hr" />
    <div class="info">
      <div class="column">
        <h6>Acerca de MidDay</h6>
        <p>¿Quiénes somos?</p>
      </div>
      <div class="column">
        <h6>Enlaces</h6>
        <p>Preguntas frecuentes</p>
        <p>Descargar Mid Day App</p>
      </div>
      <div class="column">
        <h6>Contacto</h6>
        <p>Nuestro horario es de lunes a domingo de 9:00 a 21:00</p>
        <p>+34 637 922 062</p>
      </div>
    </div>
  </div>
  <div class="subfooter">
    <div>
      <p>Condiciones de uso</p>
      <p>Política de privacidad</p>
      <p>Consentimiento de cookies</p>
    </div>
    <p class="copyright">©2021 MidDay. Todos los derechos reservados</p>
  </div>
</footer>
