<section class="register-container">
  <div class="register">
    <mat-horizontal-stepper [linear]="!isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Tu perfil</ng-template>
          <div class="form">
            <mat-form-field
              hintLabel="Max 10 carácteres"
              appearance="fill"
              class="input"
            >
              <mat-label>Nombre usuario</mat-label>
              <input
                matInput
                #input
                maxlength="10"
                placeholder="Nombre usuario"
                formControlName="firstCtrl"
                required
              />
              <mat-hint align="end">{{ input.value?.length || 0 }}/10</mat-hint>
            </mat-form-field>

            <mat-form-field class="input" appearance="fill">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="Dirección de email"
                formControlName="firstCtrl"
                [formControl]="emailFormControl"
                required
              />
              <mat-error
                *ngIf="
                  emailFormControl.hasError('email') &&
                  !emailFormControl.hasError('required')
                "
              >
                Introduce una dirección de email válida porfavor
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                El email es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="input">
              <mat-label>Contraseña</mat-label>
              <input
                [type]="hide ? 'password' : 'text'"
                matInput
                placeholder="Contraseña"
                formControlName="firstCtrl"
                required
              />
            </mat-form-field>

            <mat-form-field class="input">
              <mat-label>Repetir contraseña</mat-label>
              <input
                [type]="hide ? 'password' : 'text'"
                matInput
                placeholder="Repetir contraseña"
                formControlName="firstCtrl"
                required
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div>
            <button
              mat-stroked-button
              matStepperNext
              type="button"
              color="primary"
            >
              SIGUIENTE
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Tu restaurante</ng-template>
          <div class="form">
            <mat-form-field class="input">
              <mat-label>Nombre restaurante</mat-label>
              <input
                matInput
                placeholder="Nombre restaurante"
                formControlName="secondCtrl"
                required
              />
            </mat-form-field>
            <mat-form-field class="input">
              <mat-label>Dirección</mat-label>
              <input
                matInput
                placeholder="Dirección"
                formControlName="secondCtrl"
                required
              />
            </mat-form-field>
            <div class="input__cont">
              <mat-form-field class="input--half">
                <mat-label>Número</mat-label>
                <input
                  matInput
                  placeholder="Número"
                  formControlName="secondCtrl"
                  required
                />
              </mat-form-field>
              <mat-form-field class="input--half">
                <mat-label>Código postal</mat-label>
                <input
                  matInput
                  placeholder="Código postal"
                  formControlName="secondCtrl"
                  required
                />
              </mat-form-field>
            </div>
            <mat-form-field class="input">
              <mat-label>Ciudad</mat-label>
              <input
                matInput
                placeholder="Ciudad"
                formControlName="secondCtrl"
                required
              />
            </mat-form-field>
            <mat-form-field class="input">
              <mat-label>Teléfono de contacto</mat-label>
              <input
                matInput
                placeholder="Teléfono de contacto"
                formControlName="secondCtrl"
                required
              />
            </mat-form-field>
          </div>
          <div>
            <button
              mat-stroked-button
              matStepperPrevious
              type="button"
              color="primary"
            >
              VOLVER
            </button>
            <button
              mat-stroked-button
              matStepperNext
              type="button"
              color="primary"
            >
              SIGUIENTE
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Casi estamos</ng-template>
          <div class="form">
            <mat-form-field class="input">
              <mat-label>Tipo de cocina</mat-label>
              <mat-select>
                <mat-option
                  *ngFor="let option of options"
                  value="{{ option.value }}"
                  >{{ option.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <mat-form-field class="input">
              <mat-label>Aforo</mat-label>
              <input
                matInput
                placeholder="Aforo"
                formControlName="secondCtrl"
                required
              />
            </mat-form-field>
          </div>
          <div>
            <button
              mat-stroked-button
              matStepperPrevious
              type="button"
              color="primary"
            >
              VOLVER
            </button>
            <button mat-stroked-button type="button" color="primary">
              FINALIZAR
            </button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <div class="image">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/midday-restaurant.appspot.com/o/MidDay%20images%2Fpexels-photo-1824353-removebg-preview.png?alt=media&token=59f8b510-159b-4b37-a66d-298214f3249a"
      alt="mediterranean food"
    />
  </div>
</section>
