@import "../../../styles/mixins";
@import "../../../styles/colors";
@import "../../../styles/fonts";

.register-container {
  @include flex(row, center, flex-start);
  padding: 80px 100px 0 100px;
  width: 100%;

  @media only screen and (max-width: 500px) {
    @include flex(row, center, flex-start);
    height: 75vh;
    width: 100%;
  }

  .register {
    @include box-shadow();
    @include flex(row, center, flex-start);
    border-radius: 6px;
    height: 600px;
    margin-top: 50px;
    overflow: hidden;
    width: 100%;

    @media only screen and (max-width: 500px) {
      margin-top: 0;
      width: 100%;
    }
    .register-data {
      @include flex(column, center, flex-start);

      width: 60%;
      padding: 50px 30px 30px 30px;

      .title {
        @include title();
        padding-left: 24px;
      }

      .form {
        max-width: 580px;

        mat-icon {
          color: $color-primary;
        }

        .text-danger {
          color: red;
          font-family: $font-primary;
          font-size: 10px;
          margin-left: 10px;
          position: absolute;
          top: 560px;
        }

        .input {
          background-color: rgba(0, 0, 0, 0);
          font-family: $font-primary;
          width: 100%;
        }

        .input__cont {
          @include flex(row, space-between, center);
          background-color: rgba(0, 0, 0, 0);
          font-family: $font-primary;
          width: 100%;

          .input--half {
            width: 45%;
          }
        }
      }
    }
  }

  .image {
    @include flex(column, flex-start, center);
    background-color: $color-primary-soft;
    height: 700px;
    width: 40%;

    border-top-right-radius: 40% 50%;
    border-bottom-right-radius: 40% 50%;

    @media only screen and (max-width: 500px) {
      display: none;
    }

    img {
      opacity: 0.7;
      width: 90%;
    }
  }
}
