<section class="register-container">
  <div class="register">
    <mat-horizontal-stepper #stepper>
      <mat-step [stepControl]="registerFormGroup">
        <form [formGroup]="registerFormGroup">
          <ng-template matStepLabel>Tu perfil</ng-template>

          <div class="form">
            <mat-form-field hintLabel="Max 12 carácteres" class="input">
              <mat-label>Nombre usuario</mat-label>
              <input
                matInput
                #input
                type="text"
                maxlength="12"
                placeholder="Nombre usuario"
                formControlName="userName"
                required
              />
              <mat-error *ngIf="registerFormGroup.controls['userName'].invalid"
                >El nombre de usuario ya existe</mat-error
              >
              <mat-hint align="end">{{ input.value?.length || 0 }}/12</mat-hint>
            </mat-form-field>

            <mat-form-field class="input" appearance="fill">
              <mat-label>Email</mat-label>
              <input
                matInput
                type="email"
                placeholder="Dirección de email"
                formControlName="email"
                required
              />
              <mat-error *ngIf="registerFormGroup.controls['email'].invalid"
                >Introduce un email válido</mat-error
              >
            </mat-form-field>

            <mat-form-field class="input">
              <mat-label>Contraseña</mat-label>
              <input
                [type]="hide ? 'password' : 'text'"
                matInput
                placeholder="Contraseña"
                formControlName="password"
                required
              />
              <mat-error *ngIf="registerFormGroup.controls['password'].invalid"
                >La contraseña debe contener un mínimo de 8 carácteres y un
                máximo de 12</mat-error
              >
            </mat-form-field>

            <mat-form-field class="input">
              <mat-label>Repetir contraseña</mat-label>
              <input
                [type]="hide ? 'password' : 'text'"
                matInput
                placeholder="Repetir contraseña"
                formControlName="secondPassword"
                required
              />
              <mat-error
                *ngIf="registerFormGroup.controls['secondPassword'].invalid"
                >Ambos campos deben ser iguales</mat-error
              >
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div>
            <button
              mat-raised-button
              matStepperNext
              type="button"
              color="primary"
              [disabled]="registerFormGroup.invalid"
            >
              SIGUIENTE
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="restaurantDataFormGroup">
        <form [formGroup]="restaurantDataFormGroup">
          <ng-template matStepLabel>Tu restaurante</ng-template>
          <div class="form">
            <mat-form-field class="input">
              <mat-label>Nombre restaurante</mat-label>
              <input
                matInput
                placeholder="Nombre restaurante"
                formControlName="name"
                type="text"
                required
              />
            </mat-form-field>
            <mat-form-field class="input">
              <mat-label>Dirección</mat-label>
              <input
                matInput
                placeholder="Dirección"
                formControlName="address"
                type="text"
                required
              />
            </mat-form-field>
            <div class="input__cont">
              <mat-form-field class="input--half">
                <mat-label>Número</mat-label>
                <input
                  matInput
                  placeholder="Número"
                  formControlName="number"
                  type="number"
                  required
                />
              </mat-form-field>
              <mat-form-field class="input--half">
                <mat-label>Código postal</mat-label>
                <input
                  matInput
                  placeholder="Código postal"
                  formControlName="zipcode"
                  type="number"
                  required
                />
              </mat-form-field>
            </div>
            <mat-form-field class="input">
              <mat-label>Ciudad</mat-label>
              <input
                matInput
                placeholder="Ciudad"
                formControlName="city"
                type="text"
                required
              />
            </mat-form-field>
            <mat-form-field class="input">
              <mat-label>Teléfono de contacto</mat-label>
              <input
                matInput
                placeholder="Teléfono de contacto"
                formControlName="phone"
                type="number"
                required
              />
            </mat-form-field>
          </div>
          <div>
            <button
              mat-raised-button
              matStepperPrevious
              type="button"
              color="primary"
            >
              VOLVER
            </button>
            <button
              mat-raised-button
              matStepperNext
              type="button"
              color="primary"
            >
              SIGUIENTE
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="restaurantDataFormGroup">
        <form [formGroup]="restaurantDataFormGroup">
          <ng-template matStepLabel>Casi estamos</ng-template>

          <div class="form">
            <mat-form-field class="input">
              <mat-label>Tipo de cocina</mat-label>
              <mat-select formControlName="category">
                <mat-option
                  required
                  *ngFor="let option of options"
                  value="{{ option.value }}"
                  >{{ option.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div class="input__cont">
              <mat-form-field class="input--half">
                <mat-label>Aforo</mat-label>
                <input
                  matInput
                  placeholder="Aforo"
                  formControlName="capacity"
                  type="number"
                  required
                />
              </mat-form-field>
              <mat-form-field class="input--half">
                <mat-label>Precio medio del menú</mat-label>
                <input
                  matInput
                  placeholder="Precio medio del menú"
                  formControlName="menuprice"
                  type="number"
                  required
                />
                <mat-icon matSuffix>euro</mat-icon>
              </mat-form-field>
            </div>
            <mat-form-field class="input">
              <mat-label>URL de imagen</mat-label>
              <input
                matInput
                placeholder="URL de imagen"
                formControlName="image"
                type="text"
                required
              />
            </mat-form-field>
          </div>
          <div>
            <button
              mat-raised-button
              matStepperPrevious
              type="button"
              color="primary"
            >
              VOLVER
            </button>
            <button
              (click)="postClick(); openConfirm()"
              mat-raised-button
              type="button"
              color="primary"
              routerLink="/home"
            >
              FINALIZAR
            </button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <div class="image">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/midday-restaurant.appspot.com/o/MidDay%20images%2Fpexels-photo-1824353-removebg-preview.png?alt=media&token=59f8b510-159b-4b37-a66d-298214f3249a"
      alt="mediterranean food"
    />
  </div>
</section>
