<form [formGroup]="searchDishes">
  <div class="input">
    <mat-form-field class="full-width">
      <mat-label>Nombre</mat-label>
      <input
        #searchBox
        type="text"
        matInput
        placeholder="Nombre"
        (input)="search(searchBox.value)"
        formControlName="searchDish"
      />
    </mat-form-field>
  </div>
</form>

<div class="dish-text" *ngFor="let dish of dishesFiltered | async">
  <span class="category">
    <mat-icon>restaurant_menu</mat-icon>
    <h3>{{ dish.name }}</h3>
    <button class="delete-btn" (click)="openPopUp(); deleteClick(dish._id)">
      <mat-icon>delete</mat-icon>
    </button>
  </span>

  <span>
    <p>{{ dish.type }}</p></span
  >

  <span>
    <p>Ingredientes:</p>
    <p>{{ dish.ingredients }}</p></span
  >

  <span>
    <p>Suplemento:</p>
    <p>{{ dish.extra }}€</p>
  </span>
</div>
