@import "../../../../styles/mixins";
@import "../../../../styles/colors";
@import "../../../../styles/fonts";

form {
  .full-width {
    width: 550px;

    @media only screen and (max-width: 500px) {
      width: 100vw;
      padding: 0 20px;
    }
  }

  .input {
    @include flex(column, flex-start, flex-start);

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    mat-icon {
      position: absolute;
      right: 5px;
      font-size: 20px;
      color: $color-primary;
    }

    .btns {
      @include flex(row, space-between, center);
      width: 100%;

      .mat-raised-button {
        box-shadow: none;
        color: $color-white;
        background-color: $color-primary;

        &:hover {
          background-color: $color-primary-hard;
          box-shadow: none;
        }
        @media only screen and (max-width: 500px) {
          width: 200px;
        }
      }

      .btn-right {
        margin-left: 200px;
        @media only screen and (max-width: 500px) {
          margin: 0 10px;
        }
      }
      @media only screen and (max-width: 500px) {
        margin-bottom: 20px;
      }
    }
  }
}
.dish-text {
  @include flex(column, center, flex-start);
  color: $color-primary;
  border: 2px solid $color-primary;
  border-radius: 6px;
  margin-bottom: 5px;
      background-color: $color-grey-soft;

  @media only screen and (max-width: 500px) {
     margin: 0 20px;
       margin-bottom: 10px;
  }

  .category {
    @include flex(row, center, flex-start);
    border-bottom: 1px solid $color-primary;
    width: 100%;

       border-radius: 6px;

    h3 {
      letter-spacing: 0.5px;
      color: $color-primary;
      width: 100%;
      text-indent: 10px;
      background-color: $color-grey-soft;
      border-radius: 6px;
      margin: 0px;
    }
  }

  span {
    @include flexcenter();

    p {
      margin-top: 5px;
      text-indent: 10px;
    }
  }

  mat-icon {
    color: $color-primary;
    margin-right: 10px;
  }

  .delete-btn {
    cursor: pointer;
    background: none;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &:last-of-type {
    @media only screen and (max-width: 500px) {
      margin-bottom: 20px;
    }
  }
}
