@import "../../../../styles/mixins";
@import "../../../../styles/colors";
@import "../../../../styles/fonts";

form {
  @include flex(column, center, center);

  .full-width {
    width: 600px;

    @media only screen and (max-width: 500px) {
      width: 100vw;
      padding: 0 20px;
    }
  }

  .input {
    @include flex(column, center, center);

    mat-icon {
      font-size: 25px;
      color: $color-primary;
    }
  }
}

.info-card {
  @include flex(column, center, flex-start);
  border: 1px solid $color-primary;
  @include box-shadow;
  margin-bottom: 30px;
  background: $color-grey-soft;
  font-family: $font-primary;
  border-radius: 6px;
  overflow: hidden;
  width: 1000px;

  .meta {
    position: relative;
    z-index: 0;
    height: 200px;

    .photo {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-repeat: no-repeat;
      transform: scale(1.4);
      z-index: 5;
      height: 150px;
    }
  }

  .description {
    padding: 1rem;
    background: $color-white;
    position: relative;
    z-index: 1;

    .data {
      @include flex(row, space-between, flex-start);
      h2 {
        font-size: 20px;
      }

      button {
        all: unset;
        color: $color-primary;

        mat-icon {
          @include flexcenter();
          font-size: 30px;
          cursor: pointer;
        }
      }
    }
    h2,
    h3 {
      font-family: $font-secondary;
    }
    h2 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem;
    }
    h3 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: $color-grey-hard;
      margin-top: 5px;
    }

    .p--underline {
      text-decoration: underline;
    }

    .ingredients {
      height: 30px;
      width: 70%;
    }

    .price {
      @include flexcenter();
      position: absolute;
      right: 10px;
      bottom: 10px;
      color: $color-white;
      font-size: 16px;
      background-color: $color-primary;
      width: 180px;
      height: 30px;
      border-radius: 9999px;
    }
  }

  @media (min-width: 640px) {
    flex-direction: row;

    .meta {
      flex-basis: 20%;
      height: auto;
    }
    .description {
      flex-basis: 80%;
      &:before {
        transform: skewX(-3deg);
        content: "";
        background: $color-white;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
  }
}
