@import "../../../styles/mixins";
@import "../../../styles/colors";
@import "../../../styles/fonts";

header {
  nav {
    @include flex(row, space-between, center);
    width: 100vw;
    height: 80px;
    padding: 0 100px;
    position: sticky;
    background: $color-grey-soft;
    border-bottom: $color-grey 1px solid;

    @media only screen and (max-width: 500px) {
      width: 100%;
      padding: 0 20px;
      @include flex(row, flex-start, center);
    }

    .mobile-menu {
      display: none;

      .mat-icon {
        font-size: 40px;
        color: $color-primary;
        margin-right: 10px;
      }

      @media only screen and (max-width: 500px) {
        display: block;
      }
    }

    img {
      width: 180px;

      @media only screen and (max-width: 500px) {
        margin-left: 30px;
      }
    }

    div {
      .mat-button.mat-primary {
        color: $color-primary;
      }

      .mat-stroked-button.mat-primary {
        margin-left: 10px;
        color: $color-primary;
        border: 1px solid $color-primary;

        &:hover {
          border: 1px solid $color-primary;
        }
      }
      .mat-raised-button {
        box-shadow: none;
      }
      .mat-raised-button.mat-primary {
        margin-left: 10px;
        color: $color-white;
        background-color: $color-primary;

        &:hover {
          background-color: $color-primary-hard;
          box-shadow: none;
        }
      }

      @media only screen and (max-width: 500px) {
        display: none;
      }
    }
  }
}
