@import "../../../../styles/mixins";
@import "../../../../styles/colors";
@import "../../../../styles/fonts";

.menu-text {
  @include flex(column, center, flex-start);
  background-color: $color-grey-soft;
  border-radius: 6px;
  border: 2px solid $color-primary;
  color: $color-primary;
  margin-bottom: 5px;

  @media only screen and (max-width: 500px) {
    margin-bottom: 10px;
    margin: 0 20px;
  }

  .category {
    @include flex(row, center, flex-start);
    border-bottom: 1px solid $color-primary;
    width: 100%;

    border-radius: 6px;

    h3 {
      background-color: $color-grey-soft;
      border-radius: 6px;
      color: $color-primary;
      letter-spacing: 0.5px;
      margin: 0px;
      text-indent: 10px;
      width: 100%;
    }

    span {
      @include flexcenter();

      p {
        margin-top: 5px;
        text-indent: 10px;
      }

      &:last-of-type {
        margin-bottom: 10px;
      }
    }

    mat-icon {
      color: $color-primary;
      margin-right: 10px;
    }

    .delete-btn {
      background: none;
      border: none;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    &:last-of-type {
      @media only screen and (max-width: 500px) {
        margin-bottom: 20px;
      }
    }
  }
}
