$color-primary: rgb(146, 188, 160);
$color-primary-hard: rgb(110, 161, 127);
$color-secondary: rgb(51, 71, 57);
$color-grey-soft: rgb(248, 249, 250);
$color-grey: rgb(191, 191, 191);
$color-grey-hard: rgb(33, 33, 33);
$color-white: white;
$color-black-soft: rgb(38, 38, 38);
$color-black: black;
