$color-primary-soft: rgb(179, 208, 189);
$color-primary: rgb(144, 187, 159);
$color-primary-hard: rgb(116, 170, 134);
$color-secondary: rgb(51, 71, 57);
$color-grey-soft: rgb(245, 245, 245);
$color-grey: rgb(191, 191, 191);
$color-grey-hard: rgb(173, 173, 173);
$color-white: #ffffff;
$color-black-soft: rgb(38, 38, 38);
$color-black: #000000;
