@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Noto Sans", sans-serif;
$font-secondary-thin: "Noto Sans JP", sans-serif;
