<main class="home">
  <section class="welcome">
    <img
      class="welcome__icon"
      src="https://firebasestorage.googleapis.com/v0/b/midday-restaurant.appspot.com/o/MidDay%20icons%2Ficons8-chef-hat-64.png?alt=media&token=597bbc95-3860-4f19-86ef-05ec743cd620"
      alt="icon"
    />
    <div class="welcome__info">
      <h1 class="welcome__title">Bienvenidos a MidDay Restaurant</h1>
      <p>
        ¿Quieres aumentar los ingresos de tu restaurante y optimizar tu negocio?
        Prueba nuestras herramientas para obtener la máxima visibilidad, aumenta
        tus reservas durante los períodos de menor actividad y equípate con un
        sistema ultra eficiente para administrar a tus clientes y tu sala.
      </p>
      <p>
        ¡Forma ahora parte de <u>MidDay Restaurant</u> y verás como suben tus
        reservas desde el primer día!
      </p>
    </div>
    <img
      class="welcome__image"
      src="https://firebasestorage.googleapis.com/v0/b/midday-restaurant.appspot.com/o/MidDay%20images%2Frestaurant.jpeg?alt=media&token=7983b4d2-c748-4d44-8903-bf175a57782b"
      alt="restaurant"
    />
  </section>

  <section class="business">
    <div class="business__info">
      <div class="business__up">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/midday-restaurant.appspot.com/o/MidDay%20images%2Fdish-home.png?alt=media&token=16507822-3caa-4a36-86f3-b653baed0aaa"
          alt="food dish"
        />
        <div><h2>¿Estás abierto? Adáptate y maximiza tu negocio</h2></div>
        <p>
          Ponemos a tus disposición las mejores herramientas para que puedas
          adaptarte a las nuevas medidas de seguridad y saques el mayor partido
          a tu negocio.
        </p>
      </div>
      <div class="business__down">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/midday-restaurant.appspot.com/o/MidDay%20icons%2Ficons8-eye-64.png?alt=media&token=9db2f917-dbfb-446e-be23-3658547d062c"
          alt="eye icon"
        />
        <div>
          <h3>Obtén mayor visibilidad</h3>
          <p>
            Con el uso de MidDay tu visibilidad se verá aumentada. Consulta los
            comentarios de tus comensales y disfruta de como tu popularidad
            crece.
          </p>
        </div>
        <div class="bg--hard">
          <h3>Mejora la gestión de tus reservas</h3>
          <p>
            Limita tus reservas por franjas horarias, añade promociones según la
            misma y determina un tiempo máximo de duración del servicio.
          </p>
        </div>
        <img
          class="img--rotate"
          src="https://firebasestorage.googleapis.com/v0/b/midday-restaurant.appspot.com/o/MidDay%20icons%2Ficons8-tableware-64%20(1).png?alt=media&token=b77c91ef-3414-4a30-9e15-152adbb5c9fe"
          alt="tableware icon"
        />
      </div>
    </div>
  </section>

  <section class="advantages">
    <div class="advantages-info">
      <div class="img">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/midday-restaurant.appspot.com/o/MidDay%20icons%2Ficons8-graph-report-64.png?alt=media&token=62defc99-9eb0-4d43-b090-6eb42fa244de"
          alt="graph icon"
        />
      </div>
      <h3>¡Crea tu propia base de datos!</h3>
      <p>
        Guarda platos, consúltalos o modifícalos cuando sea necesario.
        Utilízalos para crear tus menús y así poder consultarlos o volverlos a
        ofertar cuando creas conveniente. Te permitirá llevar un mayor control
        de los pedidos y rotaciones de stock.
      </p>
    </div>
    <div class="advantages-info">
      <div class="img">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/midday-restaurant.appspot.com/o/MidDay%20icons%2Ficons8-restaurant-table-64.png?alt=media&token=af14a0cb-849f-4563-939c-7d5e9ccda165"
          alt="restaurant table icon"
        />
      </div>
      <h3>Optimiza tu ocupación</h3>
      <p>
        Maximiza y controla tu ocupación. Ofrece promociones en las horas de
        menos ocupación para aumentar tus reservas cuando más lo necesites.
        Conoce el tamaño de tus reservas y prepara la sala de acorde a ellas.
      </p>
    </div>
    <div class="advantages-info">
      <div class="img">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/midday-restaurant.appspot.com/o/MidDay%20icons%2Ficons8-mobile-payment-64.png?alt=media&token=ba314b85-c98b-4dc2-bc61-1fa767988fbb"
          alt="mobile icon"
        />
      </div>
      <h3>Agiliza el cobro</h3>
      <p>
        Cada vez más clientes piden pagar directamente desde el móvil cuando
        están en el restaurante. Nuestro sistema de pago a través de la
        aplicación te permite ahorrar tiempo y costes.
      </p>
    </div>
    <div class="advantages-info">
      <div class="img">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/midday-restaurant.appspot.com/o/MidDay%20icons%2Ficons8-handshake-64.png?alt=media&token=7bfe75b4-9cb4-4266-9543-b4f4099db036"
          alt="handshake icon"
        />
      </div>
      <h3>Fideliza a los clientes</h3>
      <p>
        Con nuestro sistema de reservas los clientes habituales tienen
        recompensa. Además debido a la facilidad para reservar para varios días,
        una semana, dos... ¡Tus clientes podrán reservar con antelación para su
        comodidad!
      </p>
    </div>
    <div class="advantages-info">
      <div class="img">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/midday-restaurant.appspot.com/o/MidDay%20icons%2Ficons8-money-box-64.png?alt=media&token=e0dec7ee-fdce-4bd3-ac34-ba346354d20d"
          alt="money box icon"
        />
      </div>
      <h3>Ajusta tus gastos</h3>
      <p>
        Conociendo la ocupación diaria con tanta antelación, y sobretodo, las
        elecciones anticipadas de los clientes, podrás gestionar mejor el stock,
        los pedidos, las mermas, el personal...
      </p>
    </div>
  </section>

  <hr />
  <h2>¡Estámos aquí para ayudarte!</h2>
  <p class="contact-info">
    Si necesitas ayuda o más información no dudes en contactar directamente con
    tu asesor o con nuestro equipo de Soporte que encontrarás en disponible de
    lunes a domingo de 9:00h a 21:00h.
  </p>
</main>
