<section class="home">
  <h1>Bienvenidos a MidDay Restaurant</h1>

  <p>
    ¿Quieres aumentar los ingresos de tu restaurante y optimizar tu negocio?
    Prueba nuestras herramientas para obtener la máxima visibilidad, aumenta tus
    reservas durante los períodos de menor actividad y equípate con un sistema
    ultra eficiente para administrar a tus clientes y tu sala.
  </p>
  <h2>¿Estás abierto? Adáptate y maximiza tu negocio</h2>
  <p>
    Ponemos a tus disposición las mejores herramientas para que puedas adaptarte
    a las nuevas medidas de seguridad y saques el mayor partido a tu negocio con
    ElTenedor Manager:
  </p>
  <ul>
    <li>
      Controla tu ocupación y gestiona fácilmente las distancias de seguridad en
      tu plano de sala digital.
    </li>
    <li>
      Optimiza tus servicios: Limita tus reservas por franjas horarias, crea una
      lista de espera o determina un tiempo máximo de duración del servicio
    </li>
  </ul>

  <h2>¡Estámos aquí para ayudarte!</h2>
  <p>
    Si necesitas ayuda o más información no dudes en contactar directamente con
    tu asesor o con nuestro equipo de Soporte en el chat que encontrarás en
    ElTenedor Manager (esquina inferior derecha). Disponible de lunes a domingo
    de 9.00h a 22.00h.
  </p>

  <span>icon</span>
  <h3>Centraliza todas tus reservas</h3>
  <p>
    Registra, modifica o cancela tus reservas desde un único sistema (reservas
    online, de clientes de paso, telefónicas..)
  </p>
  <span>icon</span>
  <h3>Optimiza tu ocupación</h3>
  <p>
    Maximiza y controla tu ocupación fácilmente con tu plano de sala digital.
    Ofrece promociones o participa en el programa de fidelidad de YUMS y en los
    festivales para aumentar tus reservas cuando más lo necesites.
  </p>
  <span>icon</span>
  <h3>Multiplica tu visibilidad</h3>
  <p>
    Accede a más de 20 millones de comensales y grandes partners como Facebook,
    Instagram o Google. ElTenedor es la primera guía de reservas de
    restaurantes, ¡disponible en 22 países! Ahora puedes obtener un perfil
    personalizado para tu restaurante de manera gratuita visible en todos los
    dispositivos.
  </p>
  <span>icon</span>
  <h3>Multiplica tu visibilidad</h3>
  <p>
    Crea tu propia base de datos de clientes y comunícate con ellos gracias a
    nuestra potente herramienta de comunicación.
  </p>
  <h3>Confía en los expertos de la industria</h3>
  <p>
    Los equipos de ElTenedor trabajan con 80.000 restaurantes desde hace más de
    13 años para hacer crecer tu negocio, ofreciendo formación gratuita,
    consejos de expertos y asistencia al cliente los 7 días de la semana.
  </p>
</section>
