<section class="dishes">
  <div class="image-left">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/midday-restaurant.appspot.com/o/MidDay%20images%2Fingredients-2-removebg-preview.png?alt=media&token=7f81b2be-fa3f-48b7-b3e7-893ec1562d8a"
      alt="Ingredientes de cocina"
    />
  </div>
  <div class="components">
    <div class="switch">
          <button
              mat-stroked-button
  
              type="button"
              color="primary"
            >
              AÑADIR
            </button>
      /
         <button
              mat-stroked-button
           
              type="button"
              color="primary"
            >
              BUSCAR
            </button>
    </div>
    <app-dishes-add></app-dishes-add>
    <app-dishes-search></app-dishes-search>
  </div>
  <div class="image-right">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/midday-restaurant.appspot.com/o/MidDay%20images%2Fingredients-removebg-preview.png?alt=media&token=5c208f9c-1c20-4bd7-b4ef-291b9ddc7b3a"
      alt="Ingredientes de cocina"
    />
  </div>
</section>
