@import "../../../styles/mixins";
@import "../../../styles/colors";
@import "../../../styles/fonts";

.dishes {
  @include flex(row, center, flex-start);
  width: 100vw;
  padding: 0 100px;
  font-family: $font-primary;
  letter-spacing: 0;

  @media only screen and (max-width: 500px) {
    padding: 0 20px;
  }

  .image-left {
    opacity: 0.6;
    width: 100px;
    height: 550px;


    img {
      left: -50px;
      position: absolute;
      z-index: -1;
    }

    @media only screen and (max-width: 500px) {
      display: none;
    }
  }

  .components {
    @include flex(column, center, flex-start);
    width: 600px;
    margin-top: 20px;

    @media only screen and (max-width: 500px) {
      margin-right: 0;
    }

    .switch {
      @include flex(row, center, center);
      color: $color-primary;
      margin-left: -10px;

      @media only screen and (max-width: 500px) {
        padding: 0 20px;
      }

      .mat-stroked-button.mat-primary {
        color: $color-primary;
        border: none;
      }
    }
  }

  .image-right {
    opacity: 0.6;
    width: 100px;
    height: 550px;

    img {
      position: absolute;
      right: -50px;
        z-index: -1;
    }

    @media only screen and (max-width: 500px) {
      display: none;
    }
  }
}
