<section class="landing">
  <div class="info">
    <h1>Bienvenido a MidDay restaurant</h1>
    <p class="paragraph">
      Éste es tu espacio personal. <br />Desde aquí puedes gestionar tus
      reservas, menús y añadir o visualizar recetas.
    </p>
    <div class="target">
      <h3>Reservas</h3>
      <p>Gestiona las reservas</p>
      <button routerLink="/bookings" mat-raised-button color="primary">
        IR<span class="material-icons"> keyboard_arrow_right </span>
      </button>
    </div>
    <div class="target">
      <h3>Menús</h3>
      <p>Gestiona los menús</p>
      <button routerLink="/menus" mat-raised-button color="primary">
        IR<span class="material-icons"> keyboard_arrow_right </span>
      </button>
    </div>
    <div class="target">
      <h3>Platos</h3>
      <p>Gestiona tus platos</p>
      <button routerLink="/dishes" mat-raised-button color="primary">
        IR<span class="material-icons"> keyboard_arrow_right </span>
      </button>
    </div>
  </div>

  <div class="image">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/midday-restaurant.appspot.com/o/MidDay%20images%2Frestaurant.jpeg?alt=media&token=7983b4d2-c748-4d44-8903-bf175a57782b"
      alt="Restaurante"
    />
  </div>
</section>
