@import "../../../styles/mixins";
@import "../../../styles/colors";
@import "../../../styles/fonts";

.landing {
  @include flex(column, flex-start, flex-start);
  font-family: $font-primary;
  padding: 80px 100px 0 100px;
  width: 100%;

  @media only screen and (max-width: 500px) {
    @include flex(column, center, flex-start);
    padding: 0 20px;
  }

  .title {
    @include title();
    margin-top: 50px;
  }

  .paragraph {
    margin-bottom: 50px;
    line-height: 1.4;
    font-size: 18px;
  }

  .info-data {
    @include flex(row, space-between, center);
    width: 100%;

    .info-card {
      display: flex;
      flex-direction: column;
      @include box-shadow;
      margin-bottom: 30px;
      background: $color-grey-soft;
      line-height: 1.4;
      font-family: $font-primary;
      border-radius: 6px;
      overflow: hidden;
      z-index: 0;
      width: 800px;

      &:hover {
        .photo {
          transform: scale(1.3) rotate(3deg);
          transition: all 1s;
        }
      }
      .meta {
        position: relative;
        z-index: 0;
        height: 200px;
      }
      .photo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        transition: transform 0.2s;
      }

      .description {
        padding: 1rem;
        background: $color-white;
        position: relative;
        z-index: 1;
        h2,
        h3 {
          font-family: $font-secondary;
        }
        h2 {
          line-height: 1;
          margin: 0;
          font-size: 1.7rem;
        }
        h3 {
          font-size: 1rem;
          font-weight: 300;
          text-transform: uppercase;
          color: $color-grey-hard;
          margin-top: 5px;
        }
        .read-more {
          text-align: right;
          button {
            display: inline-block;
            position: relative;
            &:after {
              content: "►";
              font-family: $font-secondary;
              margin-left: -10px;
              opacity: 0;
              vertical-align: middle;
              transition: margin 0.3s, opacity 0.3s;
            }

            &:hover:after {
              margin-left: 5px;
              opacity: 1;
            }
          }
        }
      }
      p {
        position: relative;
        margin: 1rem 0 0;
        &:first-of-type {
          margin-top: 1.25rem;
          &:before {
            content: "";
            position: absolute;
            height: 5px;
            background: $color-primary;
            width: 35px;
            top: -0.75rem;
            border-radius: 3px;
          }
        }
      }

      @media (min-width: 640px) {
        flex-direction: row;

        .meta {
          flex-basis: 40%;
          height: auto;
        }
        .description {
          flex-basis: 60%;
          &:before {
            transform: skewX(-3deg);
            content: "";
            background: $color-white;
            width: 30px;
            position: absolute;
            left: -10px;
            top: 0;
            bottom: 0;
            z-index: -1;
          }
        }
        &.alt {
          flex-direction: row-reverse;
          align-self: flex-end;
          .description {
            &:before {
              left: inherit;
              right: -10px;
              transform: skew(3deg);
            }
          }
          .details {
            padding-left: 25px;
          }
        }
      }
    }

    .icon {
      width: 150px;
      opacity: 0.3;
      transform: rotate(30deg);
      margin-right: 150px;
    }
    .reverse {
      transform: rotate(-30deg);
      margin-left: 150px;
    }
  }
}
